<header class="site-header">
  <div class="container" style="text-align:center;">
    <a class="site-title" href="{{ site.baseurl }}/" style="margin:auto;width:100%;"><img src="img/header.png"></img></a>
  </div>
  <br />

  <div class="container-fluid">
    <div class="navbar" style="margin:auto;width:42%">
    <ul class="navbar-nav nav">
    <li><button href="#" class="nav-button" style="font-size:18px">Programming Blog</button></li>
    <li><button href="#" class="nav-button" style="font-size:18px">Music Compositions</button></li>
    <li class="trigger">
      {% for my_page in site.pages %}
      {% if my_page.title %}
      <button href="#" class="nav-button" style="font-size:18px">About Me</button>
      {% endif %}
      {% endfor %}
    </li>
    </ul>
    </div>
  </div>

</header>
<div class="clearfix">
